<app-navbar>
  
</app-navbar>

<div class="back1">
  <div class="d-flex f">
<div class="d-flex flex-column fast">
  <h1>A fast and easy way to <span>Share</span> your projects</h1>
    <p>share your projects and ideas with other developers in your communitty easily</p>
    
    <div class="d-flex mt-3 mx-3">
<button class="login btn" routerLink="/login">Login</button>
<a href="/https://github.com/signup" class="mx-5 signup btn">Sign up</a>
</div>
</div>

<div class="borde">
  <div class="puntitos"></div>
</div>
<img class="laptop" src="/assets/laptop.png" alt="">
</div>

<div class="d-flex cardcontainer">
<div class="card d-flex flex-column">
  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-9xl text-white mx-auto my-5" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path></svg>
  <h4>Easy to use</h4>
  <p>modern and accessible user interface</p>
</div>

<div class="card d-flex flex-column">
  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-9xl text-white mx-auto my-5" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"></path></svg>
  <h4>Easy to use</h4>
  <p>modern and accessible user interface</p>
</div>

<div class="card d-flex flex-column">
  <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="text-9xl text-white mx-auto my-5" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"></path></svg>
  <h4>Easy to use</h4>
  <p>modern and accessible user interface</p>
</div>
</div>

</div>
<div class="back2">
  <div class="contenedor">
<div class="d-flex d">
  <img src="/assets/im1.svg" alt="">
  <p>gittz automatically generates the body of your tweets based on the description and topics of your github repositories, saving you time while still allowing you to edit the content if necessary</p>
</div>

<div class="d-flex d">
  <p>our advanced search functionality with filters and result pagination makes it easy for you to find other github users and repositories.</p>
  <img src="/assets/im2.svg" alt="">
</div>

<div class="d-flex d">
  <img src="/assets/im3.svg" alt="">
  <p>gittz automatically generates the body of your tweets based on the description and topics of your github repositories, saving you time while still allowing you to edit the content if necessary</p>
</div>
</div>
<div class="phonecontainer d-flex">
  <img src="/assets/phone.png" alt="">
  <div class="mx-5">
  <h1>Give <span>gittz</span> a try today</h1>
  <button class="login btn" routerLink="/login">login</button>
  <a href="/https://github.com/signup" class="mx-5 mt-4 signup btn">Sign up</a>
</div>
</div>
<div class="relleno"></div>
</div>

<app-footer>

</app-footer>

