
.cardcontainer{
    position: absolute;
    margin-top: 100px;
    margin-left: 240px;
    width: 80vw;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    .cards{
        width: 320px;
        height: 200px;
        padding: 15px;
        margin-top: 0px;
        background-color: #191d24;
        border-radius: 10px; 
        text-shadow: 5px 5px 5px solid black;
        svg{
            width: 30px;
            margin-left: 140px;
            margin-top: -25px;
        }   
    }
    }    
    .gh{
        color: white;
        width: 48px;
        height:48px;
        border-radius: 100%;
        background-color:  #2563EB;  
        text-align: center;
        i{
            margin-top: 10px;
        }
    }
    .tw{
        color: white;
        width: 98px;
        height:48px;
        border-radius: 40px;
        text-align: center;
        padding-top: 7px;
        margin-left: 20px;
        text-decoration: none;
        background-color:  #2563EB;  
        
        span{
      
            margin-left: 5px;
        }
    }
    a:hover{
        background-color: #0c1014;
    }
    .circulito{
        background-color: rgb(49, 120, 198);height: 1rem;
        font-size: .75rem;
        line-height: 1rem;
        padding-left: 0.438rem;
        padding-right: 0.438rem;
        border-radius: 1.9rem;
        margin-left: 5px;
    }
    h3{
        margin-left: 10px;
        margin-top: -5px;
    }
   .info{
    display: flex;
    margin-top: 45px;

   

    h2{
        margin-top: -10px;
        margin-left: 10px;
    }
   }