footer{
    background-color: rgb(55 65 81/1);
    padding: 15px;
    text-align: center;
  
    height: 180px;
    position: relative;
    svg{
        
        width: 128px;
        height: 128px;
    }
    div{
        font-weight: 500;
        
    }
}