<nav>
    <div class="gitzz">
        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class=" text-3xl px-1 mx-1 inline" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"></path></svg>
        gitzz
    </div>

<div>
  <img *ngIf="servi.showNav" [src]="servi.avatar_url" alt="" (click)="open()">
<div class="log" *ngIf="openLogout">
    <button routerLink="/dashboard" >Dashboard</button>
    <button><a href="https://notas-ftxk.onrender.com/logout" >Logout</a></button>
  </div>
</div>

    <div class="me-5" *ngIf="!servi.showNav"> 
        <button routerLink="/login" class="btn">Login</button>
        <a a href="https://github.com/signup" class="btn">Sign up</a>
    </div>
</nav>

